
.header {
    height: 1.02rem;
    width: 19.2rem;
    background-image: url(../images/header.png);
    background-size: 100% 100%;
}

.header .logo {
    margin-top: 0.1rem;
    margin-left: 0.2rem;
    width: 2.91rem;
    height: 0.81rem;
    float: left;
    cursor:pointer;
}


.info {
    float: right;
    font-size:0.15rem;
    font-family:'Microsoft YaHei';
    color:#fff;
    text-align:center;
    margin-right:0.25rem;
}

.info img {
    width:0.37rem;
    height:0.37rem;
    margin-right:0.05rem;
    margin-bottom:-0.1rem;
}

.info .user {
    margin-top:0.1rem;
    margin-bottom:0.1rem;
    line-height:0.37rem;
    /*font-size:0.15rem;
    font-family:'Microsoft YaHei';
    color:#fff;*/
}
