
.menu2 {
}

.menu2 dd {
    cursor: pointer;
    border-bottom:1px solid #bee3ee;
}

.menu2 dd > div {
    height: 0.45rem;
    line-height: 0.45rem;
    font-size: 0.15rem;
    font-family: 'Microsoft YaHei';
    color: #323639;
    text-indent: 0.3rem;
}

.menu2 dd.active {
    background-color: #f2f2f2;
    cursor: default;
    border-left: 0.05rem solid #f1a83c;
}

.menu2 dd cite {
    width: 0.11rem;
    height: 0.11rem;
    background-size: 100% 100%;
    background-image: url(../images/arrow-left.png);
    display: block;
    float: right;
    margin-right: 0.12rem;
    margin-top: 0.18rem;
}

.menu2 dd.active cite {
    background-image: url(../images/arrow-bottom.png);
}

.menu2 ul {
    display: none;
}

.menu2 dd.active ul {
    display: block;
}

.menu2 li {
    height: 0.45rem;
    line-height: 0.45rem;
    font-size: 0.15rem;
    font-family: 'Microsoft YaHei';
    color: #323639;
    cursor: pointer;
    text-indent: 0.5rem;
}

.menu2 li.active {
    color: #007295;
    cursor: default;
}

.menu2 img {
    width: 0.5rem;
    height: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
