.container .topbar { height: 125px; }

ul.bar-content { }

* ul { clear: both; }

ul.bar-content li { float: left; width: 220px; margin-bottom: 8px; }
ul.bar-content li label { margin-left: 5px; margin-right: 5px; }
ul.bar-content li input { width: 100px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
ul.bar-content li select { width: 100px; height: 22px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
ul.bar-content li button { width: 100px; height: 22px; margin-right: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

/*设置 input select 宽度一致*/
/*.box-sizing { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }*/

.tb-edit { margin-left: 15%; }
.tb-delete { margin-left: 10%; }